<div class="container my-5">
    <div class="text-center">
        <h2 class="section-title">Lavinis Egzersiz ve Danışmanlık Hizmetleri</h2>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="service-description">
                <div class="service-item mb-4">
                    <div class="icon-box">
                        <i class="fas fa-leaf"></i>
                    </div>
                    <div class="text-box">
                        <h4>Amacımız</h4>
                        <p>Amacımız kişilerde doğru egzersiz bilincini oluşturmanın yanı sıra sağlığın sadece fiziksel bedenle ilişkili olmadığını ruhsal ve zihinsel bedenlerdeki herhangi bir dengesizleşmenin de sağlığımızı etkileyen birer parametre olduğunun farkına varılmasını sağlayarak bütünsel sağlığa ulaştırmak.</p>
                    </div>
                </div>
                <div class="service-item mb-4">
                    <div class="icon-box">
                        <i class="fas fa-running"></i>
                    </div>
                    <div class="text-box">
                        <h4>Egzersiz Servislerimiz</h4>
                        <p>Lavinis Egzersiz ve Danışmanlık Merkezinde size tüm servislerimizde olağanüstü bir kalite sunuyoruz. Bütün terapi hizmetlerimiz tecrübeli ve eğitimli uzmanlar tarafından gerçekleştirilmektedir.</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="icon-box">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <div class="text-box">
                        <h4>Tecrübeli Terapistler</h4>
                        <p>Terapistlerimiz seçkin üniversitelerden mezun aynı zamanda bir çok sertifikasyon programından başarı ile geçmiş başarılı kişilerdir.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img src="~/starter/assets/images/sunset.jpg" class="img-fluid" alt="Egzersiz ve Danışmanlık">
        </div>
        <div class="col-lg-6 offset-lg-6">
            <div class="service-description">
                <div class="service-item mb-4">
                    <div class="icon-box">
                        <i class="fas fa-stethoscope"></i>
                    </div>
                    <div class="text-box">
                        <h4>Profesyonel Tedavi</h4>
                        <p>Profesyonel tedavi yöntemlerimiz ile yüksek oranda kalıcı olarak iyileşme garantisi veriyoruz.</p>
                    </div>
                </div>
                <div class="service-item mb-4">
                    <div class="icon-box">
                        <i class="fas fa-clinic-medical"></i>
                    </div>
                    <div class="text-box">
                        <h4>Tam Teşekküllü Klinik</h4>
                        <p>Merkezimiz en modern ve en yararlı ekipmanlarla donatılmıştır. Alanında uzman terapistlerle tüm ekipmanlarımız hizmetinize sunulmuştur.</p>
                    </div>
                </div>
                <div class="service-item">
                    <div class="icon-box">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="text-box">
                        <h4>Kişiye Özel Program</h4>
                        <p>Kişiye Özel Fizik Tedavi Programı Kişiye özel antrenman programı, kişiye özel klinik pilates ve arkadaşınızla ya da eşinizle birlikte düet pilates. Tedavi seanslarımız tamamen kişiye özel olarak planlanmaktadır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>