<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h3 class="title-big">Blog Yazılarımız</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 mt-md-0 mt-4">
                    <a href="property-single.html">
                        <div class="box16">
                            <img class="img-fluid" src="~/starter/assets/images/gebelik.jpg" alt="Reformer Pilates">
                            <div class="box-content">
                                <h3 class="title">Reformer Pilates</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mt-md-0 mt-4">
                    <a href="property-single.html">
                        <div class="box16">
                            <img class="img-fluid" src="~/starter/assets/images/manuelterapi.jpg" alt="Reformer Pilates">
                            <div class="box-content">
                                <h3 class="title">Reformer Pilates</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mt-md-0 mt-4">
                    <a href="property-single.html">
                        <div class="box16">
                            <img class="img-fluid" src="~/starter/assets/images/skolyoz.jpg" alt="Reformer Pilates">
                            <div class="box-content">
                                <h3 class="title">Yoga Terapi</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>